<ion-content>
  <div class="main-div" *ngIf="logged;else notLogged">
  </div>
  <div class="main-heading" *ngIf="logged">
    <ion-avatar>
      <img *ngIf="profileImage; else noProfileImage" class="profile_img" src="{{profileImage}}">
      <ng-template #noProfileImage>
        <img class="profile_img" src="../../../../assets/imgs/dummyUser.png">
      </ng-template>
    </ion-avatar>
    <h3 class="main-title">{{name}} {{lastName}}</h3>
    <h6 class="main-email">{{email}}</h6>
    <div class="edit-profile1">
      <h3>
        <a routerLink="/edit-profile" style="text-decoration: none;" class="edit-profile">
          Edit profile
          <img class="edit_img" src="../../../../assets/imgs/feather-edit.png">
        </a>
      </h3>
    </div>
  </div>
  <ng-template #notLogged>
    <ion-item style="padding-top: 60px;" lines="none">
      <ion-button expand="block" fill="outline" color="unit-btn" (click)="logIn()">Log in</ion-button>
    </ion-item>
    <ion-item lines="none">
      <p class="p-text">
        <a routerLink="/phone-verification"> New here? Sign up </a>
      </p>
    </ion-item>
  </ng-template>
  <br>
  <div class="break">
  </div>
  <div *ngIf="logged">
    <br>
    <ion-list>
      <!--  <div *ngIf="!permission.canCreateSpace">
        <ion-item (click)="becomeHost()" detail=false>
          <img src="../../../../assets/imgs/awesome-building.png" slot="end">
          <ion-label>
            View as an Owner
          </ion-label>
        </ion-item>
      </div> -->
    </ion-list>
    <div>
      <ion-list-header>
        <h3 class="account-title"> Me {{permission.canBook}} </h3>
      </ion-list-header>
      <ion-list>
        <ion-item (click)="chooseRole()" detail=false>
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          <!-- <img src="../../../../assets/imgs/awesome-user-edit.png" slot="end"> -->
          <ion-label *ngIf="!permission.canCreateSpace">
            Switch to Host view
          </ion-label>
          <ion-label *ngIf="permission.canCreateSpace">
            Switch to Renter view
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Dark Mode
          </ion-label>
          <ion-toggle slot="end" (ionChange)='toggleTheme($event)'></ion-toggle>
        </ion-item>

        <ion-item routerLink="/payment" detail=false *ngIf="permission.paymentCanpay">
          <img src="../../../../assets/imgs/ionic-md-card.png" slot="end">
          <ion-label>Payment</ion-label>
        </ion-item>
        <ion-item *ngFor="let p of settingPages" [routerLink]="[p.url]" detail=false>
          <ion-label>
            {{p.title}}
          </ion-label>
          <img src="{{p.icon}}" slot="end">
        </ion-item>
        <ion-item routerLink="/checkr" detail=false>
          <ion-label>
            Personal info
          </ion-label>
          <img src="../../../../assets/imgs/awesome-user-edit.png" slot="end">
        </ion-item>
      </ion-list>
    </div>
    <!-- FOR HOST -->
    <ion-list-header>
      <h4 class="account-title"> Earnings </h4>
    </ion-list-header>
    <ion-list *ngIf="permission.earningcanRetrive">
      <ion-item routerLink="/view-earnings" detail=false style="padding-right: 0px !important">
        <ion-icon class="icon-style" slot="end" name="cash-outline"></ion-icon>
        <ion-label>View Earnings</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <ion-list-header>
    <h3 class="account-title"> Referrals </h3>
  </ion-list-header>
  <ion-list *ngIf="permission.canSendInvite">
    <ion-item detail=false (click)="invite()">
      <img src="../../../../assets/imgs/ionic-md-gift.png" slot="end">
      <ion-label>Invite friends</ion-label>
    </ion-item>
  </ion-list>


  <ion-list-header>
    <h3 class="account-title"> Legal </h3>
  </ion-list-header>
  <ion-list>
    <ion-item (click)="consultLawyer()" detail=false>
      <img src="../../../../assets/imgs/ionic-md-document.png" slot="end">
      <ion-label>
        Consult a legal pro
      </ion-label>
    </ion-item>

    <!--Terms of Service currently leads to Privacy Policy page. 
      Let's create Terms of Service page, then we can uncomment ion-label below-->

    <!-- <ion-item (click)="terms()">
      <img src="../../../../assets/imgs/ionic-md-document.png" slot="end">
      <ion-label>
        Terms of Service
      </ion-label>
    </ion-item> -->

    <ion-item (click)="privacy()">
      <img src="../../../../assets/imgs/feather-settings.png" slot="end">
      <ion-label>
        Privacy Policy
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <h3 class="account-title"> Support </h3>
    </ion-list-header>
    <ion-item *ngIf="version">
      <ion-note slot="end" color="danger">{{version}}</ion-note>
      <ion-label>
        App Version
      </ion-label>
    </ion-item>
  </ion-list>


  <div *ngIf="logged">
    <ion-item (click)="logout()">
      <ion-label color="danger" class="logout">
        Logout
      </ion-label>
    </ion-item>
  </div>
</ion-content>