<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-buttons slot="start">
        <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngIf="data?.meta?.place?.images?.length">
          <img style="width: 100%; height: 100px; border-radius: 10px;" src="{{data?.meta.place.images[0]}}" />
        </ion-col>
        <ion-col size="4" *ngIf="!data?.meta?.place?.images?.length">
          <img style="width: 100%; height: 100px; border-radius: 10px;" src="../../../../assets/imgs/dummy_space.png" />
        </ion-col>
        <ion-col size="8" style="margin-top: 5%;">
          <span>{{data?.meta?.place?.name}} </span>
          <br>
          <br>
          <span> Booked at: {{data?.meta?.spaceDetails?.startDate | date }} </span>
          <br>
          <br>
          <span> Booked upto: {{data?.meta?.spaceDetails?.endDate | date}} </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div class="ion-padding">
    <div class="center">
      <ion-label style="font-size: large; text-align: center;">
        Do you want to extend your booking or schedule your pickup?
      </ion-label>
      <div style="padding-top: 20px;">
        <ion-grid>
          <ion-row>
            <ion-button style="width:100%" color="unit-btn" (click)="extend()"> Extend
            </ion-button>
            <ion-button color="unit-btn" style="width:100%" (click)="pickUp()"> Schedule Pickup
            </ion-button>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
