<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding"></div>
    <form [formGroup]="passwordForm">
      <ion-item lines="none">
        <ion-label position="floating"> Password </ion-label>
        <ion-input type="password" class="custom-class"  placeholder="Enter existing password" formControlName="password"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="floating"> New Password</ion-label>
        <ion-input  class="custom-class" type="password"  placeholder="Enter new password" formControlName="newPassword"></ion-input>
      </ion-item>
    </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="unit-btn" expand="block" class="shadow" [disabled]="!passwordForm.valid" (click)="changePassword()">Change Password</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>