.label-stacked.sc-ion-label-ios-h {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
    color: black;
  }
  
  ion-item {
    ion-label {
      font-size: 19px;
      color: #1f1f1f;
      font-family: "helveticaneuebold";
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }
  form {
    margin: 0 20px;
  }
  .item-native {
    padding-left: 0;
  }
  ion-button {
    text-transform: capitalize;
    height: 44px;
    font-size: 16px;
    margin: 0 !important;
    margin-top: 40px !important;
    font-family: helveticaneuebold;
  }
  ion-input.custom-class {
    --padding-top: 12px;
    --padding-bottom: 12px;
    --padding-start: 18px;
    --border-color: transparent !important;
    --background-activated: white;
    --background-focused: white;
    --background-hover: white;
    --highlight-height: 0;
    border: 1px solid #cdcfcf;
    border-radius: 50px;
    color: #707070;
    height: 45px;
    margin-top: 5px;
  }
  
  .error-div{
    margin-left: 18px;
    p{
      color:#ed1b25;
      font-size: 16px;
      font-family: 'medium';
    }
  }