h4 {
    font-size: 16px !important;
    margin-left: 24px;
    color: #3C3939;
    font-family: 'medium';
  }
  
  ion-label {
    color: #656565 !important;
    font-size: 17px !important;
    margin-left: 8px;
  }
  .list-ios {
    margin-bottom: 10px !important;
  }
  .save{
    font-family: medium;
      font-size: 16px;
  }
  ion-list {
    h4 {
      font-size: 20px;
      margin-bottom: 10px;
      color: #3c3939;
      font-family: 'medium';
      opacity: 1;
      margin-left: 20px;
    }
  }
  
  
  ion-button {
    text-transform: capitalize;
    --border-color: #d7d8da80;
  }
  
  .input {
    border-bottom: 1px solid #d7d8da80;
  }
  ion-item {
    ion-input {
      border: 1px solid #CACACA !important;
      border-radius: 30px;
      --padding-start: 15px;
      --padding-end: 15px;
    }
    ion-select{
      --padding-end: 15px;
    }
  }
  
  .image_view {
    ion-row {
      ion-col {
        img {
          max-width: 90%;
          border-radius: 25px;
        }
        ion-icon {
          position: absolute;
          right: 22px;
          font-size: 25px;
          top: 0px;
        }
      }
    }
  }
  
  .addmore {
    margin-top: 0px;
    margin-left: 55px;
    font-size: 13px;
    color: #ff0000;
  }
  h5{
    font-size: 16px;
    margin-bottom: 10px;
    color: #3c3939;
    font-family: 'medium';
    opacity: 1;
    margin-left: 11px;
  }
  ion-footer {
    height: 9% !important;
    ion-button {
      margin-top: -3px !important;
      .next_btn {
        margin-left: 0 !important;
      }
      .back_btn {
        margin-right: 0 !important;
      }
    }
  }
  ion-checkbox{
    margin-right: 5px;
    --background-checked: #FF0000;
    --border-color-checked:  #FF0000;
    width: 20px !important;
    height: 20px !important;
  }