<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label>
            <h2 class="home-titile">{{placeDetails.name}}</h2>
            <h2 class="home-titile">{{placeDetails.address}}</h2>
            <div class="card-content" *ngIf="placeDetails?.pricing">
              ${{placeDetails.pricing.daily}}/ <span>day</span>
            </div>
            <div class="rating">
              <ion-icon name="star" color="unit-btn"></ion-icon>
              <ion-icon name="star" color="unit-btn"></ion-icon>
              <ion-icon name="star" color="unit-btn"> </ion-icon>
              <ion-icon name="star" color="unit-btn"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </div>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6" class="place_img">
        <img *ngIf="placeDetails.images.length; else noPlaceImage" src="{{placeDetails.images[0]}}" />
        <ng-template #noPlaceImage>
          <img src="../../../../assets/imgs/dummy_space.png" />
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr class="newline">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="10" class="ion-no-padding">
        <ion-item lines="none" class="booking_info">
          <ion-label>
            <h2>From</h2>
            <h3> {{bookingDetails.startDate | date:'mediumDate' }} - {{bookingDetails.endDate | date:'mediumDate' }}
            </h3>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="2" class="edit_icon ion-no-padding">
        <img src="../../../../assets/imgs/feather-edit-2.png" (click)="editDates()" />
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr class="newline">
  <ion-grid class="ion-no-padding price_cal">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <h2>Fees and Tax Details</h2>
        <ul>
          <li>
            <span class="span_left">
              <span *ngIf="showDay">${{placeDetails.pricing.daily}}</span>
              <span *ngIf="showWeek">${{placeDetails.pricing.weekly}} </span>
              <span *ngIf="showMonth">${{placeDetails.pricing.monthly}} </span>
              x
              <span *ngIf="showDay"> {{noOfDays}}
                <span *ngIf="noOfDays > 1"> day's </span>
                <span *ngIf="noOfDays == 1"> day </span>
                (${{placeDetails.pricing.daily}}/day)
              </span>
              <span *ngIf="showWeek"> {{weeks}}
                <span *ngIf="weeks > 1"> week's </span>
                <span *ngIf="weeks == 1"> week </span>
                (${{placeDetails.pricing.weekly}}/week)
              </span>
              <span *ngIf="showMonth">
                {{months}}
                <span *ngIf="months > 1"> months's </span>
                <span *ngIf="months == 1"> month </span>
                (${{placeDetails.pricing.monthly}}/month)
              </span>
            </span>
            <span class="span_right"> ${{price}} </span>
          </li>
          <li>
            <span class="span_left">Cleaning Fees </span>
            <span class="span_right"> $0</span>
          </li>
          <li>
            <span class="span_left"> Occupancy Taxes </span>
            <span class="span_right"> $0 </span>
          </li>
          <li *ngIf="showMonth && placeDetails.discountFirstMonth">
            <span class="span_left">{{placeDetails.discountPercentage}}% monthly Discount</span>
            <span class="span_right"> - ${{discount}}</span>
          </li>
          <li class="total">
            <span class="span_left">Total</span>
            <span class="span_right">
              <span *ngIf="showMonth">
                <span *ngIf="placeDetails.discountFirstMonth">${{pricewithDiscount}} </span>
                <span *ngIf="!placeDetails.discountFirstMonth">
                  ${{price}}
                </span>
              </span>
              <span *ngIf="showWeek || showDay">
                ${{price}}
              </span>
            </span>
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr class="newline">
  <ion-list lines="none" class="ion-no-padding">
    <ion-item class="ion-no-padding">
      <ion-label style="margin-left: 20px; font-size: 22px;">
        <img style="margin-left: 10px;" src="../../../../assets/imgs/material-payment.png" />
        <!-- <span class="card-text">Pay in Full</span> -->
      </ion-label>
      <ion-select [(ngModel)]="paymentMethod" side="end" placeholder="Select payment mode"
        (ionChange)="onChange($event)">
        <ion-select-option value="full">Pay for your booking</ion-select-option>
        <ion-select-option *ngIf="months > 1" value="recurring">Recurring</ion-select-option>
      </ion-select>
      <img style="margin-right: 15px;" src="../../../../assets/imgs/down_arrow.png" slot="end" />
    </ion-item>
  </ion-list>
  <ion-item *ngIf="paymentMethod == 'recurring' && months > 1 " lines="none" class="ion-no-padding">
    <ion-label style="margin-left: 20px;">
      <small *ngIf="!placeDetails.discountFirstMonth"> $ {{chargedPrice}} (first month)</small>
      <small *ngIf="placeDetails.discountFirstMonth"> $ {{priceAfterDiscount}} (first month)</small>
      <br>
      <small> $ {{chargedPrice}} / monthly up to {{bookingDetails?.endDate | date:'mediumDate' }} </small>
    </ion-label>
  </ion-item>
  <hr class="newline">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col>
        <ion-list *ngIf="cards.length != 0" lines="none">
          <ion-list-header>
            <h4> Payment Mode </h4>
          </ion-list-header>
          <div *ngFor="let card of cards" style="text-align: center;">
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img src="../../../../assets/imgs/visa.png" />
                </ion-col>
                <ion-col size="6"> {{ card.payment.creditCard.cardNumber}} </ion-col>
                <ion-col size="3">
                  <img src="../../../../assets/imgs/awesome-check.png" />
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-list>
        <a class="card_add" *ngIf="cards.length == 0" (click)="showCard()">Add Card</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="showcardForm">
    <ion-row>
      <ion-col>
        <form [formGroup]="paymentForm" #f="ngForm">
          <ion-list>
            <ion-list-header>
              Card Information
            </ion-list-header>
            <ion-card style="box-shadow: none;">
              <img style="margin-bottom: 5px;" src="../../../../assets/imgs/visa.png">
              <img style="margin-bottom: 5px;" src="../../../../assets/imgs/master.png">
              <img style="margin-bottom: 5px;" src="../../../../assets/imgs/Discover-logo.png">
              <ion-item lines="none" class="card_item">
                <ion-input placeholder="XXXX-XXXX-XXXX-XXXX" type="text" formControlName="cardNumber" maxlength="16"
                  (keypress)="onKey($event)">
                </ion-input>
              </ion-item>
              <ion-row>
                <ion-col size="4">
                  <div class="title_text">
                    CVV
                  </div>
                  <ion-item lines="none" class="card_item">
                    <ion-input placeholder="CVV" type="text" formControlName="cardCvv" maxlength="3"
                      (keypress)="onKey($event)">
                    </ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="8">
                  <div class="title_text">
                    Date of Expiration
                  </div>
                  <ion-item lines="none" class="card_item">
                    <ion-datetime placeholder="MM/YYYY" displayFormat="MM/YYYY" pickerFormat="MM/YYYY"
                      formControlName="cardExpiration" max="2050">
                    </ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="8">
                  <div class="title_text">
                    Name on card
                  </div>
                  <ion-item lines="none" class="card_item">
                    <ion-input placeholder="Name here" type="text" formControlName="nameonCard">
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-card>
          </ion-list>
          <div class="ion-padding">
            <ion-button expand="block" shape="round" color="unit-btn" [disabled]="paymentForm.invalid"
              (click)="addCard(f.value)">
              Save Card</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="unit-btn" shape="round" [disabled]="!profileId" (click)="confirmPayment()"
      class="pay-btn">
      Pay Now
    </ion-button>
  </ion-toolbar>
</ion-footer>
