ion-item {
    .rating {
      text-align: left !important;
    }
    .card-content {
      text-align: left !important;
      color: "tertiary";
      font-size: 11px !important;
      margin-top: 6px;
      margin-bottom: 6px;
      font-family: "medium";
      span {
        color:"tertiary";
      }
    }
  }
  
  .place_img {
    img {
      border-radius: 20px !important;
    }
  }
  
  .booking_info {
    ion-label {
      h2 {
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
        margin-right: 0;
        margin-top: 0px;
        padding-top: 0;
        font-family: "helveticaneuebold";
        color: "tertiary";
      }
      h3 {
        margin-left: 10px;
        font-weight: 600;
        color: "tertiary";
      }
    }
  }
  .home-titile {
    font-size: 15px;
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0;
    margin-top: 0px;
    padding-top: 0;
    font-family: "helveticaneuebold";
    color: "tertiary";
  }
  hr.newline {
    display: block;
    margin-left: 25px;
    margin-right: 25px;
    border-style: inset;
    border-width: 1px;
    color: "quaternary";
    border: 0.5px solid #cacaca;
    height: 0;
  }
  
  .edit_icon {
    margin-top: 9px;
    font-size: 19px;
    color: #ed1b25;
    text-align: right;
    padding-right: 30px;
  }
  
  .price_cal {
    ion-col {
      h2 {
        font-size: 16px;
        font-weight: 400;
        margin-left: 27px;
        margin-right: 0;
        margin-top: 15px;
        padding-top: 0;
        font-family: "helveticaneuebold";
        color: "tertiary";
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 0;
      }
    }
  
    ul {
      padding-left: 20px;
      padding-right: 20px;
      li {
        display: block;
        color: "quaternary";
        font-size: 15px;
        margin-bottom: 25px;
        clear: both;
        line-height: 22px;
  
        .span_left {
          float: left;
          display: inline-block;
          font-size: 14px;
          margin-left: 10px;
        }
        .span_right {
          display: inline-block;
          float: right;
        }
      }
    }
    .total {
      color: "tertiary" !important;
      margin-top: 29px;
      font-family: "helveticaneuebold";
    }
  }
  .card_add {
    margin-left: 17px;
    font-size: 13px;
    color: #ed1b25;
  }
  .card-text {
    font-size: 16px;
    font-family: "helveticaneuebold";
    color: "tertiary";
    display: inline-block;
    vertical-align: text-top;
    margin-left: 10px;
    font-weight: 400;
    margin-top: 3px;
  }
  h4 {
    font-size: 15px;
    font-family: "helveticaneuebold";
    color: "tertiary";
    display: inline-block;
    vertical-align: text-top;
    margin-left: 0px;
    font-weight: 400;
    margin-top: 0;
  }
  .pay-btn {
    text-transform: capitalize;
    height: 44px;
    font-size: 16px;
    margin: 0 !important;
    margin-top: 20px !important;
    font-family: helveticaneuebold;
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-bottom: 20px !important;
  }
  .footer-ios ion-toolbar:first-of-type {
    --border-width: 0 !important;
    border: none;
    box-shadow: 0px -3px 10px #eaeaea;
  }
  ion-input {
    --placeholder-color: #cacaca;
    --placeholder-opacity: 1;
    font-family: medium;
    font-size: 15px;
  }
  ion-datetime {
    font-size: 16px;
  }
  
  ion-list {
    ion-input {
      border: 1px solid "quaternary";
      border-radius: 18px;
      --padding-start: 15px;
    }
    ion-textarea {
      border: 1px solid #cacaca;
      border-radius: 18px;
      --padding-start: 15px;
      margin-bottom: 12px;
      font-size: 15px;
      color: "quaternary";
      font-family: medium;
      width: 97%;
    }
  }
  ion-item {
    ion-label {
      font-size: 15px;
      margin-bottom: 10px;
      color: "tertiary";
      font-family: "medium";
      opacity: 1;
      margin-left: 5px;
      }
  }

    ion-datetime {
      border: 1px solid #cacaca;
      border-radius: 18px;
      --padding-start: 15px;
      height: 44px;
      width: 97%;
    }
    ion-input {
      border: 1px solid #cacaca;
      border-radius: 30px;
      --padding-start: 15px;
      margin-bottom: 12px;
      width: 97%;
    }

  .card_item{
    --padding-start: 0px !important;
  }
  .title_text{
    font-size: 14px;
      font-family: 'helveticaneuebold';
      color: "tertiary";
      margin-bottom: 5px;
  }
  ion-select::part(icon) {
    display: none !important;
   }