<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backAlert()">
        <ion-icon color="unit-btn" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="backAlert()">
        <ion-icon color="unit-btn" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="main-title">Unit Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" scroll-y="false">
  <form [formGroup]="addPlace">
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked">Name your Unit</ion-label>
        <ion-input type="text" placeholder="The Sparkle Space" formControlName="name" class="height"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked">Location</ion-label>
        <ion-input type="text" placeholder="Location" formControlName="address" class="height"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" *ngIf="spaceType">Unit Type</ion-label>
        <ion-select [(ngModel)]="selectedspaceType" [ngModelOptions]="{standalone: true}"
          (ionChange)="onSelectChange($event)">
          <ion-select-option [value]="s._id" *ngFor="let s of spaceType">
            {{s.spaceType}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item lines="none" *ngIf="displayOther">
        <ion-label position="stacked">Enter SpaceType</ion-label>
        <ion-input type="text" placeholder="Enter SpaceType" [(ngModel)]="spaceTypeName" class="height"
          [ngModelOptions]="{standalone: true}"></ion-input>
      </ion-item>
      <ion-list>
        <ion-label class="size-tt">Size <span>(Enter size in Feet)</span></ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="stacked">Length</ion-label>
                <ion-input type="number" formControlName="lenght"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="stacked">Width</ion-label>
                <ion-input type="number" formControlName="breadth"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label position="stacked">Height</ion-label>
                <ion-input type="number" formControlName="height"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
      <ion-item lines="none">
        <ion-label position="stacked">Description</ion-label>
        <ion-textarea type="text" rows="4" cols="20" placeholder="Text here" formControlName="description">
        </ion-textarea>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col class="ion-align-self-end" style="margin-left: 35%;">
          <ion-button color="unit-btn" fill="clear" [disabled]="!addPlace.valid" (click)="next(1)" class="next-btn">
            Next
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>