<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()" text="">
        <img src="../../../../assets/imgs/back.png" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" text="">
        <img src="../../../../assets/imgs/cross.png" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <div class="date-select">Select Dates</div>
    <ion-calendar [(ngModel)]="dateRange" [options]="optionsRange" [type]="type" (change)="onChange($event)"
      [format]="'YYYY-MM-DD'" class="padding-none">
    </ion-calendar>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="unit-btn" shape="round" [disabled]="!event && !description" expand="block" (click)="book()">
        Book this place
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
