.label-stacked.sc-ion-label-ios-h {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'helveticaneuebold';
    color: "tertiary";
    font-weight: 400;
  }
  
  ion-item.sc-ion-textarea-ios-h:not(.item-label),
  ion-item:not(.item-label) .sc-ion-textarea-ios-h {
    border: solid 1px "quaternary";
    height: 100px;
    border-radius: 10px;
    padding: 5px;
  }
   
  .stepper {
    --background: transparent;
    --ion-color-base: transparent !important;
    color: "tertiary";
    border: solid 1px "quaternary";
    border-radius: 10px;
  }
  
  .date-select{
    color: "tertiary";
    font-family: 'helveticaneuebold';
    font-size: 19px;
    margin-left: 16px;
    margin-bottom: 20px;
  }
  .padding-none{
    padding: 10px 0px !important;
   /* background-color:black; */
  }
  ion-textarea{
    border: 1px solid "quaternary" !important;
    border-radius: 12px;
    padding: 4px 10px;
    font-size: 12px;
  }
  
  .switch-btn{
    font-size: 20px;
    color: "secondary";
    font-family: 'helveticaneuebold';
  }
  
  .footer-ios ion-toolbar:first-of-type {
    --border-width: 0 !important;
    border: none;
    box-shadow: 0px -3px 10px #EAEAEA;
  }

  