

ion-content {
    --background: transparent;
    transform: translate3d(0, 35px, 0);
  }
  .content-main {
    background-color: #ffffff;
    height: 100%;
    border-radius: 20px;
    padding-top: 40px;
  }
  
  h3{
    text-align: center;
      font-size: 19px;
      color: #000;
      font-family: 'helveticaneuebold';
      margin-bottom: 30px;
    
  }
  
  .btns {
    .publish-btn{
      margin-top: 140px;
    }
    margin-top: 60px;
    width: 80%;
    margin: 0 auto;
    ion-button {
      text-transform: capitalize;
      height: 44px;
      font-size: 16px;
      font-weight: bold !important;
      width: 100%;
      margin-top: 15px;
    }
  }
  .header-text{
      font-size: 16px;
      width: 100%;
      font-family: "helveticaneuebold";
      text-align: center;
      font-weight: 400;
  }
  .header-sub{
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    font-family: 'helveticaneuebold';
    font-weight: 400;
    color: #797979;
  }
  .box-radius{
    border-radius: 15px;
    margin: 0 10%;
  }
  .noimage{
    width: 100% !important;
  }