<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon color="unit-btn" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-main">
    <h3>Your Space is ready to publish!</h3>
    <ion-card class="box-radius">
      <div *ngIf="spaceDetails.images.length; else noImage">
        <img src="{{spaceDetails.images[0]}}" />
      </div>
      <ng-template #noImage>
        <div> 
          <img   class="noimage" src="../../../../../assets/imgs/publish-place-dummy.png">
        </div>
      </ng-template>
      <ion-card-header style="padding-bottom: 5px;">
        <ion-card-title class="header-text">{{spaceDetails.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="header-sub">
        {{spaceDetails.address}}
      </ion-card-content>
    </ion-card>
    <div class="btns">
      <ion-button color="danger" fill="outline" size="default" shape="round" expand="block" (click)="publish(true)"
        class="not-btn">
        Publish
      </ion-button>
    </div>
  </div>
</ion-content>
