<ion-content>
  <div class="logo">
    <img src="../../../../assets/imgs/logo.png" />
  </div>
  <div class="content">
    <form [formGroup]="signupForm">
      <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <div class="left-icon">
            <img src="../../../../assets/imgs/awesome-user-edit.png">
          </div>
          <ion-input  type="Text" placeholder="First Name" formControlName="firstName"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <div class="left-icon">
            <img src="../../../../assets/imgs/awesome-user-edit.png">
          </div>
          <ion-input  type="Text" placeholder="Last Name" formControlName="lastName"></ion-input>
        </ion-item>
      </ion-list>
      <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <div class="left-icon">
            <img src="../../../../assets/imgs/zocial-email.png
            ">
          </div>
          <ion-input  placeholder="Email" type="Email" formControlName="email"></ion-input>
        </ion-item>
      </ion-list>
      <div class="error-container"
        *ngIf="signupForm.get('email').invalid && (signupForm.get('email').dirty || signupForm.get('email').touched)">
        <span style="color: red;
          font-size: smaller;
          margin: 10px;" *ngIf="signupForm.get('email').errors.pattern">
          <ion-icon style="color: red;
           padding-top: 5px;;" name="information-circle-outline"></ion-icon>
          Please enter a valid email address
        </span>
      </div>
      <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <div class="left-icon">
            <img src="../../../../assets/imgs/ionic-ios-lock.png">
          </div>
          <ion-input  type="password" placeholder="Password" formControlName="password">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-list class="line-input" mode="md">
        <ion-item mode="md">
          <div class="left-icon">
            <img src="../../../../assets/imgs/ionic-ios-lock.png">
          </div>
          <ion-input  type="password" placeholder="Confirm Password" formControlName="password">
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-button style="margin-top: 10% !important;" *ngIf="!passwordInput" fill="solid" size="default" shape="round" expand="block" color="unit-btn"
        [disabled]="!signupForm.valid" (click)="signUp()">
        Sign up
      </ion-button>
      <p>
        Already have an account? <br>
        <a routerLink="/login" class="login-text"> Login </a>
      </p>
    </form>
  </div>
</ion-content>
