.img-spacetype{
    max-width: 80% !important;
  }
.category{
    border-radius: 18px;
    border: 1px solid #ed1b25;
    padding: 6px;
    width: 65px;
    display: inline-block;
}

.main {
  border-radius: 18px;
  border: 1px solid #ed1b25;
  padding: 6px;
  width: 65px;
  display: inline-block;
}
.space-span {
  display: block;
  font-size: 12px;
  color: #9b9b9b;
  margin-top: 7px;
  font-family: "medium";
}

.clear{
  text-align: end;
  margin-right: 20px;
}