<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <img style="width: 100%; height: 100px; border-radius: 10px;" src="{{data?.meta.place.images[0]}}" />
        </ion-col>
        <ion-col size="8" style="margin-top: 5%;">
          <span>{{data?.meta?.place?.name}} </span>
          <br>
          <br>
          <span> extend from: {{data?.meta?.extensiondetails?.startDate | date }} </span>
          <br>
          <br>
          <span> extended upto: {{data?.meta?.extensiondetails?.endDate | date}} </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div class="ion-padding">
    <div class="center">
      <ion-label style="font-size: large; text-align: center;">
       Give permission for extend booking 
      </ion-label>
      <div style="padding-top: 20px;">
        <ion-grid>
          <ion-row>
            <ion-button style="width:100%" color="unit-btn" (click)="extend()"> Approve
            </ion-button>
            <ion-button color="unit-btn" style="width:100%" (click)="notExtend()"> Cancel
            </ion-button>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
