<ion-content>
  <ion-grid class="user-details ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="12" class="ion-no-padding" *ngIf="data.images.length; else noPlaceImage">
        <ion-slides pager="true" [options]="slideOpts" class="item-slider">
          <ion-slide *ngFor="let img of data.images">
            <img class="slider" src="{{img}}" />
          </ion-slide>
        </ion-slides>
        <div class="back" (click)="back()"><img src="../../../../assets/imgs/back_two.png"></div>
        <!-- <div class="tour"> 
          <ion-badge color="unit-btn">3D tour</ion-badge>
        </div> -->
      </ion-col>
      <!-- No image check -->
      <ng-template #noPlaceImage>
        <ion-col size="12" class="ion-no-padding" >
          <div style="text-align: center;">
            <img src="../../../../assets/imgs/dummy_space.png" />
          </div>
          <div class="back" (click)="back()"><img src="../../../../assets/imgs/back_two.png"></div>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-item lines="none">
            <ion-label>
              <h2 style="text-transform: capitalize;">{{data.name}}</h2>
              <h2 style="text-transform: capitalize;">{{data.address}}</h2>
              <div class="rating">
                <ion-icon name="star" color="unit-btn"></ion-icon>
                <ion-icon name="star" color="unit-btn"></ion-icon>
                <ion-icon name="star" color="unit-btn"> </ion-icon>
                <ion-icon name="star" color="unit-btn"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </div>
              <div class="card-content">
              </div>
            </ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" color="unit-btn" shape="round" fill="outline" class="contact-btn" (click)="review($event,data)">
            <ion-icon slot="start" name="chatbox-outline" color="unit-btn"></ion-icon>
            Write a review
          </ion-button>
          <ion-button expand="block" color="unit-btn" shape="round" (click)="booking(data)" class="check-btn">Check Availablity</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>
    <ion-grid class="category">
      <ion-row>
        <ion-col  size="3" *ngFor="let item of data.amenities">
          <div *ngIf="item?.images && item?.images?.length; else noImage">
            <img src="{{item?.images[0]}}" />
          </div>
         <ng-template #noImage>
          <div  style="width: 50%;margin-bottom: 10px;">
            <img src="../../../../assets/imgs/dummys.png" />
          </div>
         </ng-template>
          <span>{{item.name}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="place-details">
      <ion-row>
        <ion-col>
          <h3>Description</h3>
          <p>{{data?.description}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>
    <ion-grid class="otherInfo ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-list class="ion-no-padding" *ngFor="let item of data.amenities">
            <ion-item class="ion-no-padding" lines="none">
              <ion-icon *ngIf="item?.images && item.images.length == 0" slot="start" color="unit-btn" name="nuclear-outline"></ion-icon>
              <img style="margin-left: 5px;" *ngIf="item?.images && item?.images?.length != 0" slot="start" src="{{item?.images[0]}}" />
              <ion-icon *ngIf="!item?.images" slot="start" color="unit-btn" name="nuclear-outline"></ion-icon>
              <ion-label>
                <h2>{{item.name}}</h2>
                <p>{{item.description}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="ion-no-padding" *ngIf="data.accessStatusInfo">
            <ion-item class="ion-no-padding" lines="none">
              <ion-icon slot="start" color="unit-btn" name="calendar"></ion-icon>
              <ion-label>
                <h2>{{data?.accessStatusInfo?.accessTypeName}}</h2>
                <p>{{data?.accessStatusInfo?.description}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-list class="ion-no-padding"  *ngIf="data.storedItemInfo">
            <ion-item class="ion-no-padding" lines="none">
              <ion-icon slot="start" color="unit-btn" name="home-outline"></ion-icon> 
              <ion-label>
                <h2>{{data?.storedItemInfo?.name}}</h2>
                <p>{{data?.storedItemInfo?.description}}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>
    <ion-grid class="location_info ion-no-padding">
      <ion-row class="ion-no-padding">
        <h3>Location</h3>
      </ion-row>
    </ion-grid>
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <div class="ion-padding">
            <div #map id="map" class="map_div"></div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>
    <ion-grid class="owner_info ion-no-padding">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <ion-item lines="none">
            <ion-avatar slot="end" style="margin-right: 20px">
              <div *ngIf="data?.ownerInfo?.profile.profilePic; else noProfilePic">
                <img [src]="data?.ownerInfo?.profile.profilePic">
              </div>
              <ng-template #noProfilePic>
                <div>
                  <img img src="../../../../assets/imgs/dummyUser.png">
                </div>
              </ng-template>
            </ion-avatar>
            <ion-label *ngIf="data.ownerInfo.profile.firstName">
              <h2> Owned by {{data?.ownerInfo?.profile.firstName}}</h2>
              <h3 *ngIf="data.ownerInfo.profile.description">{{data?.ownerInfo?.profile.description}}</h3>
             
             <!-- Need to change this to dynamic value instead of being statically typed:-->
             
              <h3 *ngIf="!data.ownerInfo.profile.description">joined in may 2020</h3>
              <h3>
                <img src="../../../../assets/imgs/awesome-star.png">
                {{reviewCount}} Reviews
              </h3>
              <h3>
                <img src="../../../../assets/imgs/material-verified-user.png">
                Verified User
              </h3>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <hr>
    <ion-grid class="ion-no-padding" *ngIf="reviewList">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <div   *ngFor="let review of reviewList">
            <ion-item  lines="none">
              <ion-avatar slot="end" style="margin-right: 20px">
                <div *ngIf="review.callToAction.icon">
                  <img src="https://prod.imkloud.com{{review.callToAction.icon}}">
                </div>
              </ion-avatar>
              <ion-label *ngIf="review.callToAction.rating">
                <div class="rating" *ngIf="review.callToAction.rating === 1">
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
                <div class="rating" *ngIf="review.callToAction.rating === 2">
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
                <div class="rating" *ngIf="review.callToAction.rating === 3">
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
                <div class="rating" *ngIf="review.callToAction.rating === 4">
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>
                <div class="rating" *ngIf="review.callToAction.rating === 5">
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                  <ion-icon name="star" color="unit-btn"></ion-icon>
                </div>
                <h3 *ngIf="review?.callToAction?.text">{{review?.callToAction?.text}}</h3>
                </ion-label>
            </ion-item>
          </div>
        </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="safety_info ion-no-padding" *ngIf="data.additionalInfo && data.additionalInfo.length">
      <ion-row class="ion-no-padding">
        <ion-col class="ion-no-padding">
          <div   *ngFor="let safety of data.additionalInfo">
            <ion-item  lines="none">
              <ion-label>
                <h2 style="text-transform: capitalize;">{{safety.name}}</h2>
                <p class="ion-text-wrap">
                  {{safety.desc}}
                </p>
              </ion-label>
            </ion-item>
            <hr>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <ion-content> 
      <div class="ion-padding">
        <div class="date-select">Select Dates</div>
        <ion-calendar [(ngModel)]="dateRange" [options]="optionsRange" [type]="type" (change)="onChange($event)"
          [format]="'YYYY-MM-DD'" class="padding-none">
        </ion-calendar>
      </div>
    </ion-content> -->

    <!-- <ion-content> 
      <div class="ion-padding">
        <ion-item lines="none">
          <ion-label position="stacked" class="tell-txt">Tell us more about what you want <br> to store here:</ion-label>
          <ion-textarea placeholder="Text Here" [(ngModel)]="description" rows="2">
          </ion-textarea>
        </ion-item>
      </div>
    </ion-content> -->
        

  </div>

  

  <!-- <div class="ion-padding">
    <ion-item lines="none">
      <ion-label position="stacked" slot="start" class="tell-txt">What do you want to store here?</ion-label>
    </ion-item> -->

    <!-- <ion-chip>
      <ion-label>pots</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip> -->
    
<!-- 
    <ion-item>
      <ion-chip *ngFor="let c of chips; let i = index;">
      <ion-label>{{c}}</ion-label>
      <ion-icon name="close" (click)="removeItem(i)"></ion-icon>
      </ion-chip>
      <ion-input type="text" [(ngModel)]="storeItem" (keyup.Space)= "doSomething(storeItem)"></ion-input>
    </ion-item> -->

    <!-- <ion-textarea slot="start" placeholder="A giant teddy bear" [(ngModel)]="description" rows="1">
    </ion-textarea> -->

 
      <!-- <ion-list slot="start">     
        <ion-chip>
          <ion-label>compact cars</ion-label>
          <ion-icon name="close-circle"  (click)="removeItem(i)></ion-icon>
        </ion-chip>
        
        <ion-chip>
          <ion-label>big cars</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>

        <ion-chip>
          <ion-label>tall lamp box</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>

        <ion-chip>
          <ion-label>short & wide box</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>

        <ion-chip>
          <ion-label>bulky box</ion-label>
          <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
      </ion-list> -->
<!--       
  </div>  -->

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="unit-btn" shape="round" (click)="booking(data)">
      Select Dates | ${{data.pricing.daily}}/day
    </ion-button>
  </ion-toolbar>
</ion-footer>
