<ion-header>
  <ion-toolbar>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding container">
    <img  class="circle-pic" src="{{image}}" />  
   <span class="btn" (click)="getImages()">
    <img src="../../../../assets/imgs/feather-edit.png"/>
   </span>
  </div>
  <div class="ion-padding">
    <form [formGroup]="editProfile">
      <ion-list>
        <ion-row>
          <ion-item class="list" lines="none">
            <ion-label position="stacked" class="edit-text">
              First Name
            </ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="list" lines="none">
            <ion-label position="stacked" class="edit-text">
              First Name
            </ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item class="list" lines="none">
            <ion-label position="stacked" class="edit-text">
              About Me
            </ion-label>
            <ion-input type="text" formControlName="description"></ion-input>
          </ion-item>
        </ion-row>
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="unit-btn" expand="block" class="shadow" [disabled]="!editProfile.valid"
        (click)="updateProfile()">Update Profile</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>