<ion-header>
  <ion-toolbar *ngIf="!addType">
    <ion-title>Access Time</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="addType">
    <ion-title>{{btnText}}</ion-title>
    <ion-buttons slot="end" class="cancel" (click)="cancel()">
      <span>
        <ion-icon name="close"></ion-icon>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!addType">
  <ion-list style="width: 100%;" *ngIf="placesType.length">
    <ion-item-sliding *ngFor="let type of placesType">
      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-align-self-start" size="9">
                <h2 style="font-weight: bold;">{{type?.accessType}}</h2>
                <!-- <h6>{{type?.subtype}}</h6> -->
              </ion-col>
              <!-- <ion-col class="ion-align-self-end" size="3">
                <h3 style="text-align: end;" *ngIf="type.price">Price: ${{type?.price}} </h3>
              </ion-col> -->
            </ion-row>
          </ion-grid>
        </ion-label>

      </ion-item>

      <!-- ITEM SLIDER -->
      <ion-item-options>
        <ion-item-option (click)="editType(type)" color="primary">
          <ion-icon slot="top" name="pencil"></ion-icon>
          <ion-label>Edit</ion-label>
        </ion-item-option>

        <ion-item-option (click)="deleteTypeAlert(type)" color="danger">
          <ion-icon slot="top" name="trash"></ion-icon>
          <ion-label> Delete </ion-label>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button class="round-shadow" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



<ion-content *ngIf="addType">
  <form [formGroup]="addPlaceTypeForm">
    <ion-item lines="none" class="item-space">
      <ion-label position="stacked"> Type </ion-label>
      <ion-select placeholder="Select type" formControlName="type">
        <ion-select-option value="Daytime hours">Daytime hours</ion-select-option>
        <ion-select-option value="Evening hours">Evening hours</ion-select-option>
        <ion-select-option value="24*7">24*7</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item style="padding-top: 10px;" lines="none">
        <ion-textarea placeholder="Description" formControlName="description"></ion-textarea>
    </ion-item>

  </form>
</ion-content>
<ion-footer *ngIf="addType" class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="unit-btn" class="shadow" expand="block" [disabled]="!addPlaceTypeForm.valid" (click)="submit()">
        {{btnText}}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>