<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div class="title">Forgot Password</div>
    <p class="email-txt">Enter your email address and we'll help you reset your password </p>
  </div>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">
      <ion-col size="12" class="ion-text-center">
        <form [formGroup]="fp">
          <ion-list class="line-input" mode="md">
            <ion-item mode="md">
              <div class="left-icon">
                <img src="../../../../assets/imgs/zocial-email.png
                ">
              </div>
              <ion-input class="ion-text-left" placeholder="Email" type="email" formControlName="email"></ion-input>
            </ion-item>
          </ion-list>
        </form>
        <ion-button [disabled]="!fp.valid" fill="solid" size="default" shape="round" color="unit-btn" expand="block"
          (click)="forgotPassword()" class="same-bt">
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
