<ion-header>
  <ion-toolbar>
    <ion-title>Send notification</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="notificationForm">
  <ion-item lines="none" class="item-space">
    <ion-label position="stacked">
      Title
    </ion-label>
    <ion-input formControlName="title" placeholder="Title"> </ion-input>
  </ion-item>

  <ion-item lines="none" class="item-space">
    <ion-label position="stacked"> Message</ion-label>
    <ion-textarea formControlName="body" placeholder="Message"></ion-textarea>
  </ion-item>
</form>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button class="shadow" color="unit-btn" expand="block" [disabled]="!notificationForm.valid" (click)="send()">
        Send
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>