<ion-header>
  <ion-toolbar>
    <ion-title>Edit Unit</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen class="ion-padding">
  <form [formGroup]="editPlace"> 
    <h3 class="totally-tt">Space Details</h3>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item class="item-space" lines="none">
        <ion-label position="stacked">
          Name of the place
        </ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>

      <ion-item class="item-space" lines="none">
        <ion-label position="stacked">
          Location
        </ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>
      <ion-item class="item-space" lines="none">
        <ion-label position="stacked">
          About This Session Spot
        </ion-label>
        <ion-textarea formControlName="description" rows="4"></ion-textarea>
      </ion-item>
      <!-- <ion-item class="item-space" lines="none">
        <ion-label position="stacked">
          Size <span>(Enter size in feet)</span>
        </ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label position="stacked">Length</ion-label>
              <ion-input class="input" type="number" formControlName="lenght" placeholder="l"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label position="stacked">Width</ion-label>
              <ion-input class="input" type="number" formControlName="breadth" placeholder="w"></ion-input>
            </ion-col>
            <ion-col>
              <ion-label position="stacked">Height</ion-label>
              <ion-input class="input" type="number" formControlName="height" placeholder="h"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> -->
    </ion-list>
    <ion-item class="custom-checkbox" class="space" lines="none" *ngIf="spaceTypeList">
      <ion-label position="stacked">Floor Type</ion-label>
      <ion-select formControlName="spaceType" (ionChange)="spaceSelected()">
        <ion-select-option [value]="s._id" *ngFor="let s of spaceTypeList; let i=index;">
          {{s.spaceType}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="space" lines="none" *ngIf="storageTypeList">
      <ion-label position="stacked">Who can session here?</ion-label>
      <ion-select formControlName="storeItems" (ionChange)="storageSelected()">
        <ion-select-option [value]="sp._id" *ngFor="let sp of storageTypeList">
          {{sp.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="space" lines="none" *ngIf="timeSlotTypeList">
      <ion-label position="stacked">How often the renters be able to access <br> their items?</ion-label>
      <ion-select formControlName="accessStatus" (ionChange)="timeSlotSelected()">
        <ion-select-option [value]="st._id" *ngFor="let st of timeSlotTypeList">
          {{st.accessTime}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="space" lines="none" *ngIf="acccessTypeList">
      <ion-label position="stacked">When will dancers be able to<br> session here?</ion-label>
      <ion-select formControlName="timeAccessStatus" (ionChange)="accessTypeSelected()">
        <ion-select-option [value]="at._id" *ngFor="let at of acccessTypeList">
          {{at.accessType}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <br>
    <h3 class="totally-tt">Rent for your place</h3>
    <ion-item class="item-space" lines="none">
      <ion-label position="stacked">
        Enter rent amount
      </ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label position="stacked"> Hourly </ion-label>
            <ion-input class="input" type="number" formControlName="priceDaily"></ion-input>
          </ion-col>
          <ion-col>
            <ion-label position="stacked"> Daily </ion-label>
            <ion-input class="input" type="number" formControlName="priceWeekly"></ion-input>
          </ion-col>
          <!-- <ion-col>
            <ion-label position="stacked"> Monthly </ion-label>
            <ion-input class="input" type="number" formControlName="priceMonthly"></ion-input>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-item>
    <!-- <ion-list *ngIf="showPercentage">
      <ion-label class="addtotally">Add discount for first session</ion-label>
      <ion-radio-group formControlName="discountPercentage">
        <ion-item>
          <ion-label>0%</ion-label>
          <ion-radio slot="end" value="0"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>25%</ion-label>
          <ion-radio slot="end" value="25"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>50%</ion-label>
          <ion-radio slot="end" value="50"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>75%</ion-label>
          <ion-radio slot="end" value="75"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list> -->
    <h3 class="totally-tt">Add images</h3>
    <ion-item class="space">
      <ion-grid class="image_view">
        <ion-row *ngFor="let image of images; let i = index">
          <ion-col size="5">
            <h5 style="font-size: 14px;">{{image.name}}</h5>
          </ion-col>
          <ion-col size="7">
            <div *ngIf="!image.url">
              <ion-button expand="block" color="unit-btn" shape="round" fill="outline" (click)="getImages(image,i)" class="img-btn">
                Choose
              </ion-button>
            </div>
            <div *ngIf="image.url">
              <img src="{{image.url}}" alt=""> 
              <ion-icon name="close-circle" color="danger" (click)="deleteImage(image,i)" class="img-btn" ></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4"></ion-col>
          <ion-col size="8">
            <h3 class="addmore" (click)="addMoreImages()"> + Add more images </h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-button  (click)="updateSpace()" color="unit-btn" expand="block" class="update-btn">Update Your
      space
    </ion-button>
  </form>
</ion-content>