<ion-header>
  <ion-toolbar>
    <ion-title>Additional Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
  <form [formGroup]="checkrForm">
    <ion-item>
      <ion-label position="stacked"><ion-icon item-left name="calendar-outline"></ion-icon> Date of Birth</ion-label>
      <ion-datetime value={{date}} placeholder="Select Date" formControlName="dob">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"><ion-icon item-letf name="shield-outline"></ion-icon> SSN</ion-label>
      <ion-input placeholder="AAA-GG-SSSS" type="text" formControlName="ssn"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">   <ion-icon item-left name="pin-outline"></ion-icon> Zip Code</ion-label>
      <ion-input placeholder="zip" type="text" formControlName="zipcode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">   <ion-icon item-left name="person-outline"></ion-icon>Identification Info / Driver’s License Info</ion-label>
      <ion-input placeholder="SSSSFFFYYDDD" type="text" formControlName="driver_license_number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> <ion-icon item-left name="pin-outline"></ion-icon> Driver’s License State </ion-label>
      <ion-input placeholder="California" type="text" formControlName="driver_license_state"></ion-input>
    </ion-item>
  </form>
  </div>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="!infoId">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button  color="unit-btn" expand="block" [disabled]="!checkrForm.valid" (click)="checkr()">
        <span *ngIf="!infoId">Submit</span>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
