<ion-header>
  <ion-toolbar *ngIf="!addType">
    <ion-title>Space Type</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="addType">
    <ion-title>{{btnText}}</ion-title>
    <ion-buttons slot="end" class="cancel" (click)="cancel()">
      <span>
        <ion-icon name="close"></ion-icon>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!addType">

  <ion-list style="width: 100%;" *ngIf="placesType.length">

    <ion-item-sliding *ngFor="let type of placesType">
      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-align-self-start" size="9">
                <h2 style="font-weight: bold;">{{type?.spaceType}}</h2>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <!-- ITEM SLIDER -->
      <ion-item-options>
        <ion-item-option (click)="editType(type)" color="primary">
          <ion-icon slot="top" name="pencil"></ion-icon>
          <ion-label>Edit</ion-label>
        </ion-item-option>
        <ion-item-option (click)="deleteTypeAlert(type)" color="danger">
          <ion-icon slot="top" name="trash"></ion-icon>
          <ion-label> Delete </ion-label>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button class="round-shadow" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-content *ngIf="addType" class="form">
  <form [formGroup]="addPlaceTypeForm">
    <ion-item lines="none">
      <ion-label position="floating"> Type </ion-label>
      <ion-input class="input" placeHolder="Space Type" formControlName="type"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating"> Description </ion-label>
      <ion-input class="input" placeHolder="Description" formControlName="desc"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="floating">Daily Price</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input class="input" formControlName="dailyMin" placeholder="min"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input class="input" formControlName="dailyMax" placeholder="max"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">weekly Price</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input class="input" formControlName="weeklyMin" placeholder="min"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input class="input" formControlName="weeklyMax" placeholder="max"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item lines="none">
      <ion-label position="stacked">Monthly Price</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input class="input" formControlName="monthlyMin" placeholder="min"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input class="input" formControlName="monthlyMax" placeholder="max"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Add Images</ion-label>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <ion-button (click)="getImages()">Choose Images</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div class="images">
              <div class="one-image" *ngFor="let img of imageResponse; let i = index">
                <img src="{{img}}" alt="" srcset="">
                <ion-button class="close-icon" color="danger" (click)="deleteImage(i)">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </form>
</ion-content>
<ion-footer *ngIf="addType" class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="unit-btn" class="shadow" expand="block"
        [disabled]="!addPlaceTypeForm.valid && !imageResponse.length" (click)="submit()">
        {{btnText}}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>