<ion-header>
  <ion-toolbar *ngIf="!addPrice">
    <ion-title>Revenue Share</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="addPrice">
    <ion-title>{{btnText}}</ion-title>
    <ion-buttons slot="end" class="cancel" (click)="cancel()">
      <span>
        <ion-icon  name="close"></ion-icon>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!addPrice">
  <ion-list style="width: 100%;" *ngIf="priceList.length">
    <ion-item-sliding *ngFor="let p of priceList">
      <ion-item >
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-align-self-start" size="8">
                <h2 style="font-weight: bold;
                margin: 10px;">{{p?.country}}</h2>
              </ion-col>
              <ion-col class="ion-align-self-end" size="4">
                <h6 style="text-align: center;" >{{p?.pricetype}}</h6>
                <h3 style="text-align: center;" *ngIf="p.price">
                  <small *ngIf="p.pricetype === 'fixed'"> share in $ {{p?.price}} </small>
                  <small *ngIf="p.pricetype === 'percentage'"> share in % {{p?.price}} </small>
                </h3>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>


      <!-- ITEM SLIDER -->
      <ion-item-options>
        <ion-item-option (click)="editPrice(p)" color="primary">
          <ion-icon slot="top" name="pencil"></ion-icon>
          <ion-label>Edit</ion-label>
        </ion-item-option>
  
        <ion-item-option (click)="deletePriceAlert(p)" color="danger">
          <ion-icon slot="top" name="trash"></ion-icon>
          <ion-label> Delete </ion-label>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button class= "round-shadow" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-content *ngIf="addPrice">
  <form [formGroup]="revenueShareForm">
    <ion-item lines="none" class="item-space">
      <ion-label position="stacked" > Country </ion-label>
      <ion-select placeholder="Select country" formControlName="country">
        <ion-select-option *ngFor="let c of countryList" [value]="c.value">{{c?.view}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="item-space">
      <ion-label position="stacked"> Price Type </ion-label>
      <ion-select placeholder="Price type" formControlName="pricetype" (ionChange)="onSelectChange($event)">
        <ion-select-option *ngFor="let p of priceTypeOptions" [value]="p.value">{{p?.view}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none" class="item-space">
      <ion-label position="stacked">
        Price Cut <p *ngIf=""></p>
      </ion-label>
      <ion-input placeholder="Price cut" type="number" formControlName="price"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer *ngIf="addPrice" class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="unit-btn" expand="block" class="shadow" [disabled]="!revenueShareForm.valid" (click)="submit()">
        {{btnText}}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>