<ion-content>
  <div class="parallax-image" [style.background-image]="'url(' +backgroundImage+')'">
  </div>
  <div class="back" (click)="back()"><img src="../../../../assets/imgs/back_two.png"></div>
  <div class="main">
    <form [formGroup]="referralForm">
      <ion-input placeholder="Enter Name" class="enter-input" formControlName="name" type="text"
        [class.error]="referralForm.get('name').invalid && (referralForm.get('name').dirty || referralForm.get('name').touched)">
      </ion-input>
      <ion-input placeholder="Enter Email" class="enter-input" formControlName="email" type="text"
        [class.error]="referralForm.get('email').invalid && (referralForm.get('email').dirty || referralForm.get('email').touched)">
      </ion-input>
      <ion-input placeholder="Enter City" class="enter-input" formControlName="city" type="text"
        [class.error]="referralForm.get('city').invalid && (referralForm.get('city').dirty || referralForm.get('city').touched)">
      </ion-input>
      <ion-list class="line-input">
        <ion-item
          [class.error]="referralForm.get('country_code').invalid && (referralForm.get('country_code').dirty || referralForm.get('country_code').touched)">
          <ion-label>Select Country</ion-label>
          <ion-select formControlName="country_code">
            <ion-select-option *ngFor="let i of countryList" [value]="i.dial_code"
              (ionSelect)="selectCountryCode($event)">
              {{i.dial_code}} {{i.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-input placeholder="Enter Contact Number" class="enter-input" formControlName="contact" type="tel"
        [class.error]="referralForm.get('contact').invalid && (referralForm.get('contact').dirty || referralForm.get('contact').touched)">
      </ion-input>
      <div class="main-new">
        <ion-button  style="margin-bottom: 12px;" color="unit-btn" expand="block" class="shadow" [disabled]="!referralForm.valid"
          (click)="onSubmit($event,referralForm,'sms');">
          Send Invite by SMS </ion-button>
        <ion-button color="unit-btn" expand="block" class="shadow" [disabled]="!referralForm.valid"
          (click)="onSubmit($event,referralForm,'email');">
          Send Invite by Email </ion-button>
      </div>
    </form>
  </div>
</ion-content>