ion-toolbar {
  --background: transparent;
}
.line-input {
    margin-bottom: 15px !important;
    margin-left: 8px;
    margin-right: -20px;
    margin-top: 15px;
  ion-item {
    --border-color: transparent !important;
    --background-activated: white;
    --background-focused: white;
    --background-hover: white;
    --highlight-height: 0;
    border: 1px solid #cdcfcf;
    border-radius: 50px;
    color: "quaternary";
    height: 47px;
    margin-left: 0px;
    margin-right: 15px;
    &.item-has-focus {
      border: 1px solid var(--ion-color-primary);
    }
    ion-label {
      color: "quaternary" !important;
      font-size: 14px !important;
      padding-left: 0px;
      font-family: medium;
    }
  }
}
.back{
  position: absolute;
  z-index: 9999;
  top: 30px;
  left: 20px;
}

.parallax-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20vh;

}
.error{
    border: 1px solid #ed1b25 !important;
}
.main{
    background-color: "secondary";
    width: 100%;
    position: absolute;
    padding: 20px 30px 0px 20px;
    form{
        ion-input{
            border: 1px solid #cdcfcf;
            --placeholder-color: "quaternary";
            --placeholder-opacity: 1;
            font-family: medium;
            border-radius: 25px;
            margin-left: 7px;
            --padding-start: 15px;
            margin-top: 15px;
        }
    }
    .main-new{
      background-color: "secondary";
      width: 100%;
      position: absolute;
      padding: 20px 40px 0px 10px;
      margin-top: 10px;
    }
}
