.cancel{
    margin-right: 5px;
    font-size: x-large;
  }
ion-icon{
  color: lightslategray
}

ion-list{
  ion-item{
    border-bottom: 1px solid #e9e9e9;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .main_text{
    color: #212529;
      font-size: 16px;
      font-weight: 500;
  }
  .secondary_text{
    color: #212529;
      font-size: 14px;
      font-weight: 300;
  }
}

