<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" (ionPull)="ionPull($event)"
  (ionStart)="ionStart($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" >
    </ion-refresher-content>
  </ion-refresher>
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Spaces</ion-card-subtitle>
        <ion-card-title>
          {{count?.spaces}}
          <span>
            <ion-icon name="home-outline"></ion-icon>
          </span>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Bookings</ion-card-subtitle>
        <ion-card-title>
         {{count?.bookingsCount}}
          <span>
            <ion-icon name="bookmark-outline"></ion-icon>
          </span>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Tenant</ion-card-subtitle>
        <ion-card-title>
          5
          <span>
            <ion-icon name="person-outline"></ion-icon>
          </span>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Checked In</ion-card-subtitle>
        <ion-card-title>
          6
          <span>
            <ion-icon name="checkmark-outline"></ion-icon>
          </span>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Owners</ion-card-subtitle>
        <ion-card-title>
          10
          <span>
            <ion-icon name="person-outline"></ion-icon>
          </span>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  
</ion-content>

