// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #ED1B25;
  --ion-color-primary-rgb: 237,27,37;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #d11821;
  --ion-color-primary-tint: #ef323b;

  --ion-color-secondary: #ffffff;
  --ion-color-secondary-rgb: 255,255,255;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0e0e0;
  --ion-color-secondary-tint: #ffffff;

  --ion-color-tertiary: #2d2d2d;
  --ion-color-tertiary-rgb: 45,45,45;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #282828;
  --ion-color-tertiary-tint: #424242;

    /** quaternary **/
  --ion-color-quaternary: #767676;
  --ion-color-quaternary-rgb: 118,118,118;
  --ion-color-quaternary-contrast: #ffffff;
  --ion-color-quaternary-contrast-rgb: 255,255,255;
  --ion-color-quaternary-shade: #686868;
  --ion-color-quaternary-tint: #848484;

  /** quinary **/
  --ion-color-quinary: #f1ebeb;
  --ion-color-quinary-rgb: 241,235,235;
  --ion-color-quinary-contrast: #000000;
  --ion-color-quinary-contrast-rgb: 0,0,0;
  --ion-color-quinary-shade: #d4cfcf;
  --ion-color-quinary-tint: #f2eded;

  /** senary **/
  --ion-color-senary: #c1c1c1;
  --ion-color-senary-rgb: 193,193,193;
  --ion-color-senary-contrast: #2e2e2e;
  --ion-color-senary-contrast-rgb: 0,0,0;
  --ion-color-senary-shade: #aaaaaa;
  --ion-color-senary-tint: #c7c7c7;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #1a1a1a;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

    // /** dark **/
    // --ion-color-dark: #2F101D;
    // --ion-color-dark-rgb: 47, 16, 29;
    // --ion-color-dark-contrast: #67E06D;
    // --ion-color-dark-contrast-rgb: 103, 224, 109;
    // --ion-color-dark-shade: #2d2d2d;
    // --ion-color-dark-tint: #F76965;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // --ion-text-color: #2d2d2d;
  // --ion-text-color-rgb: 45,45,45;
/*
  --ion-text-color-contrast: #ffffff;
  --ion-text-color-contrast-rgb: 255,255,255;
  --ion-text-color-shade: #282828;
  --ion-text-color-tint: #424242;
  */


/*
  --ion-background-color: var(--ion-color-secondary);
  --ion-background-color: var(--ion-color-secondary-rgb);
  --ion-toolbar-background: var(--ion-color-quinary);
  --ion-toolbar-background: var(--ion-color-quinary-rgb);
*/

}

// @media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body[color-theme="dark"] {

    --ion-color-primary: #ba2240;
    --ion-color-primary-rgb: 186,34,64;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #a41e38;
    --ion-color-primary-tint: #c13853;

    // --ion-color-primary: #f47e7e;
    // --ion-color-primary-rgb: 244,126,126;
    // --ion-color-primary-contrast: #3880ff;
    // --ion-color-primary-contrast-rgb: 33,166,71;
    // --ion-color-primary-shade: #DB4237;
    // --ion-color-primary-tint: #FF5340;
  
    --ion-color-secondary: #2d2d2d;
    --ion-color-secondary-rgb: 45,45,45;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #282828;
    --ion-color-secondary-tint: #424242;
  
    --ion-color-tertiary: #fe413d;
    --ion-color-tertiary-rgb: 254,65,61;
    --ion-color-tertiary-contrast: #21A64B;
    --ion-color-tertiary-contrast-rgb: 33,166,75;
    --ion-color-tertiary-shade: #DB5437;
    --ion-color-tertiary-tint: #FF7030Z;

    --ion-color-quaternary: #ffffff;
    --ion-color-quaternary-rgb: 255,255,255;
    --ion-color-quaternary-contrast: #000000;
    --ion-color-quaternary-contrast-rgb: 0,0,0;
    --ion-color-quaternary-shade: #e0e0e0;
    --ion-color-quaternary-tint: #ffffff;

    --ion-color-quinary: #1a1a1a;
    --ion-color-quinary-rgb: 26,26,26;
    --ion-color-quinary-contrast: #ffffff;
    --ion-color-quinary-contrast-rgb: 255,255,255;
    --ion-color-quinary-shade: #171717;
    --ion-color-quinary-tint: #313131;

    /** senary **/
    --ion-color-senary: #fe413d;
    --ion-color-senary-rgb: 254,65,61;
    --ion-color-senary-contrast: #21A64B;
    --ion-color-senary-contrast-rgb: 33,166,75;
    --ion-color-senary-shade: #DB5437;
    --ion-color-senary-tint: #FF7030Z;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #A61311;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;

    // --ion-text-color: #ffffff;
    // --ion-text-color-rgb: 0,0,0;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body[color-theme="dark"] {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-toolbar-background: #0d0d0d;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body[color-theme="dark"] {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
// }