<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="extensionForm">
    <div class="ion-padding">
      <ion-item lines="none" class="item-space">
        <ion-label position="stacked">Start Date</ion-label>
        <ion-input formControlName="startDate"> </ion-input>
      </ion-item>
      <ion-item lines="none" class="item-space">
        <ion-label position="stacked">End Date</ion-label>
        <ion-datetime value={{date}} placeholder="Select Date" pickerFormat="MMM DD, YYYY" display-timezone="utc"
          formControlName="endDate" (ionChange)="endDateChange($event)" [min]="minDate"></ion-datetime>
      </ion-item>
    </div>
    <div class="ion-padding">
      <ion-item lines="none">
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea placeholder="Any special Notes?" formControlName="description">
        </ion-textarea>
      </ion-item>
    </div>
  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="unit-btn" [disabled]="!extensionForm.valid" expand="block" (click)="extensionRequest()">
        Send Extension Request
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>