<ion-header>
  <ion-toolbar *ngIf="!addType">
    <ion-title>Who Can Session Here?</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="addType">
    <ion-title>{{btnText}}</ion-title>
    <ion-buttons slot="end" class="cancel" (click)="cancel()">
      <span>
        <ion-icon name="close"></ion-icon>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!addType">
  <ion-list style="width: 100%;" *ngIf="storedItemType.length">
    <ion-item-sliding *ngFor="let item of storedItemType">
      <ion-item>
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-align-self-start" size="9">
                <h2 style="font-weight: bold;">{{item?.name}}</h2>
                <h6>{{item?.description}}</h6>
              </ion-col>
              <ion-col class="ion-align-self-end" size="3">
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)="editItem(item)" color="primary">
          <ion-icon slot="top" name="pencil"></ion-icon>
          <ion-label>Edit</ion-label>
        </ion-item-option>
        <ion-item-option (click)="deleteItemAlert(item)" color="danger">
          <ion-icon slot="top" name="trash"></ion-icon>
          <ion-label> Delete </ion-label>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button class="round-shadow" (click)="add()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
<ion-content *ngIf="addType">
  <form [formGroup]="addItemTypeForm">
    <ion-item lines="none" class="item-space">
      <ion-label position="stacked">
        Name
      </ion-label>
      <ion-input placeholder="Feature name" type="Text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item lines="none" class="item-space">
      <ion-label position="stacked">
        Description
      </ion-label>
      <ion-input placeholder="Feature description" type="Text" formControlName="description"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer *ngIf="addType" class="ion-no-border">
  <ion-toolbar>
    <div class="ion-padding">
      <ion-button color="unit-btn" expand="block" class="shadow" [disabled]="!addItemTypeForm.valid" (click)="submit()">
        {{btnText}}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>