<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <h2 class="where-txt"> Where's your place located?</h2>
    <!-- <p  class="title-txt">Only Confirmed guests will get your exact address after they book. We'll show
      everyone else an approximate location.
    </p> -->
  </div> 
  <div class="ion-padding"  (click)="inputClicked()">
    <ion-item>
      <ion-input placeholder="Enter Address"  [value]="address"   [disabled]="disable" ></ion-input>
      <img src="../../../../assets/imgs/metro-location.png" slot="start">
    </ion-item>
  </div>
  <div class="ion-padding" style="margin-top: 40px;">
    <div #map id="map" style="border-radius: 15px; width: 335px;height: 250px;"></div>
  </div>
</ion-content>
<ion-footer *ngIf="displayMap">
  <ion-grid>
    <ion-row>
      <ion-col offset="9">
        <ion-button (click)="next()" color="unit-btn" fill="clear">
         Next
         <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
