ion-item {
    ion-label {
      font-size: 15px;
      margin-bottom: 10px;
      color: #3c3939;
      font-family: "medium";
      opacity: 1;
      margin-left: 0px;
    }
    ion-input {
      border: 1px solid  #cacaca !important;
      border-radius: 30px;
      --padding-start: 15px;
    }
    ion-textarea {
      border: 1px solid  #cacaca !important;
      border-radius: 30px;
      --padding-start: 15px;
    }
    ion-select {
      border: 1px solid #cacaca;
      border-radius: 30px;
      --padding-start: 15px;
      --padding-end: 15px;
      height: 43px;
      font-family: medium;
      margin-bottom: 12px;
      color: #8c8c8c;
      width: 96%;
    }
  }
  h4 {
    font-size: 15px;
    margin-bottom: 10px;
    color: #3c3939;
    font-family: "medium";
    margin-left: 10px !important;
  }
  
  ion-grid {
    ion-label {
      font-size: 15px;
      margin-bottom: 10px;
      color: #3c3939;
      font-family: "medium";
      margin-left: 21px;
    }
    ion-input {
      border: 1px solid #cacaca !important;
      border-radius: 30px;
      --padding-start: 15px;
      width: 88%;
      text-align: center;
      color: #AFAFAF;
    }
    .range {
      margin-top: 5px;
      font-size: 14px;
      color: grey;
      display: block;
      margin-left: 22px;
      font-size: 13px;
    }
  }
  
  ion-list {
    padding-left: 12px;
    padding-right: 12px;
    ion-label {
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    ion-select {
      --padding-start: 15px;
      --padding-end: 15px;
      padding-left: 12px;
      padding-right: 12px;
      border: 1px solid #cacaca !important;
      border-radius: 30px;
      height: 43px;
      font-family: medium;
      margin-bottom: 12px;
      color: #8c8c8c;
    }
  }
  
  ion-toolbar {
    ion-button {
      text-transform: capitalize;
      color: #f43f3f;
      font-size: 16px;
    }
  }
  .save {
    font-family: "medium";
    color: #f43f3f;
    font-size: 15px;
  }
  .rent-tt {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
    font-family: "medium";
    opacity: 1;
    margin-left: 28px !important;
  }
  ion-footer {
    height: 9% !important;
    ion-button {
      margin-top: -3px !important;
      .next_btn {
        margin-left: 0 !important;
      }
      .back_btn {
        margin-right: 0 !important;
      }
    }
  }
  