<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end" (click)="saveListing()">
      <ion-button color="unit-btn" class="save">
        Save and Exit
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none">
    <ion-label position="stacked">What can be stored here?</ion-label>
    <ion-select [(ngModel)]="selectedStorageType" (ionChange)="storageSelected()" *ngIf="storageType">
      <ion-select-option [value]="sp._id" *ngFor="let sp of storageType">
        {{sp.name}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">
      At what time of the day?
    </ion-label>
    <ion-select [(ngModel)]="selectedtimeSlotType" (ionChange)="timeSlotSelected()" *ngIf="timeSlotType">
      <ion-select-option [value]="st._id" *ngFor="let st of timeSlotType">
        {{st.accessTime}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">How often can a tenant access this unit?</ion-label>
    <ion-select [(ngModel)]="selectedAccessType" (ionChange)="accessTypeSelected()" *ngIf="acccessType">
      <ion-select-option [value]="at._id" *ngFor="let at of acccessType">
        {{at.accessType}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <h4 style="margin-left: 20px !important;">Add Discount for first Month</h4>
  <ion-list>
    <ion-select style="margin-left:15px; margin-right:15px" placeholder="Discount" [(ngModel)]="selectedDiscount"
      (ionChange)="discountSelected()">
      <ion-select-option [value]="d.value" *ngFor="let d of discount">
        {{d.name}}
      </ion-select-option>
    </ion-select>
  </ion-list>
  <h4 class="rent-tt">Booking Rates Offered</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-label position="stacked">
          Daily
          <span class="range">
            {{dailyPriceRange}}
          </span>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-input class="input" placeholder="$" [(ngModel)]="dailyPrice"> </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-label position="stacked">
          Weekly
          <span class="range">
            {{weeklyPriceRange}}
          </span>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-input class="input" placeholder="$" [(ngModel)]="weeklyPrice"> </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-label position="stacked">
          Monthly
          <span class="range">
            {{monthlyPriceRange}}
          </span>
        </ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-input class="input" placeholder="$" [(ngModel)]="monthlyPrice"> </ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="unit-btn" fill="clear" (click)="backPage()">
            <ion-icon class="back_btn" slot="start" name="chevron-back-outline"></ion-icon>
            Back
          </ion-button>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col style="margin-left: 35%;">
          <ion-button color="unit-btn" fill="clear"
            [disabled]="!selectedDiscount || !selectedAccessType || !selectedtimeSlotType || !selectedStorageType"
            (click)="next(2)">
            Next
            <ion-icon class="next_btn" slot="end" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>