<ion-header>
  <ion-toolbar>
    <ion-title>My Earnings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor = "let payment of resp"> 
      <ion-grid>
        <ion-row>
          <ion-col size= "10" class="name">
            {{payment.name}}
          </ion-col>
          <ion-col size= "2" class="name">
            $ {{payment.totalEarings ? payment.totalEarings : 0}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="ion-text-center">
      <ion-label class="total"> Total : $ {{total}}</ion-label>
    </div>
  </ion-toolbar>
</ion-footer>
