section {
    margin-top: 1em;
    margin-bottom: 2.5em;
  }
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  ion-content ion-toolbar {
    --background: translucent;
  }
  
  .item-space{
      padding-top: 10px;
  }
  
  .sc-ion-label-ios-s h3, .sc-ion-label-ios-s h4, .sc-ion-label-ios-s h5, .sc-ion-label-ios-s h6 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
  }

  ion-item{
    ion-label{
      h2{
        font-size: medium;
        font-weight: bold;
        color: "quaternary";
      }    
    }
    ion-button{
      height: 100%;
    }
  }
  .p-text {
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, "quaternary");
    a {
      text-decoration: none;
      color: #ED1B25;
    }
  }
  .cancel-box{
    --inner-border-width: 0;
  }
  .cancel-box img{
    display: block;
    margin: 0 auto;
  }
  .ion-padding{
    width: 100%;
  }
  .cancel-text{
    text-align: center;
    font-size: 14px;
    font-family: 'helveticaneuebold';
    text-align: center
  }
  .grid-border{
    border-bottom: 1px solid red;
    margin-left: 25px;
    margin-right: 25px;
  }

  .chat-list{
    background: "secondary";
    margin-top: 5px;
    border-top-right-radius: 38px;
    border-top-left-radius: 38px;

    .all-chats{
      padding-top:0;
    }
    .heading{
      display:flex;
      justify-content: space-between;
      align-items: center;
      color: "quaternary";
      h1{
        font-size: 0.6rem;
        font-weight: bold;
        color: "quaternary";
      }
      ion-icon{
        font-size: 1.5rem;
      }
    }
    .chats{
      margin-top: 15px;
      ion-item:part(native){
        padding: 0;
      }
      ion-item{
        margin-bottom: 15px;
        ion-avatar{
          width: 100% !important;
          height: 100% !important;
          max-width: 51px;
        }
        ion-label{
          h2{
            font-size: 1rem;
            font-weight: bolder;
            color: "quaternary";
          }
          p{
            margin-top: 6px;
            font-size: 0.8rem;
            color: "quaternary";
            opacity: 0.5;
            letter-spacing: 0.5;
            font-weight: bold;
          }
        }
        .info-div{
          position: absolute;
          right: 0;
          font-size: 0.4rem;
          color: "tertiary";
          font-weight: bolder;
          text-align: right;
          p{
            opacity: 0.5;
          }
          ion-icon{
            font-size: 1.3rem;
          }
          ion-badge{
            font-size: 11px;
           /* background: blue; */
            margin-bottom: 5px;
            --padding-start: 5px;
            --padding-end: 5px;
            --padding-bottom: 3px;
            --padding-top: 3px;
          }
        }
      }
    }
  }

  ion-fab-button{
    position: fixed;
    z-index: 111;
    bottom: 30px;
    right: 15px;
  }