:host {
    // background-color: #4C4E50;
    background-image: url("../../../../assets/imgs/place1.jpg");
  }
  
  ion-button {
    --box-shadow: none !important;
  }
  ion-header {
    --ion-background-color: transparent;
  }
  ion-content {
    --background: transparent;
    transform: translate3d(0, 140px, 0);
  }
  .content {
    background-color: "secondary";
    height: 100%;
    border-radius: 20px;
    padding-top: 50px;
  }
  .line-input {
    margin-bottom: 0 !important;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 80px;
    ion-item {
      --border-color: transparent !important;
      --background-activated: white;
      --background-focused: white;
      --background-hover: white;
      --highlight-height: 0;
      border: 1px solid #cdcfcf;
      border-radius: 50px;
      color: #707070;
      height: 45px;
      &.item-has-focus {
        border: 1px solid var(--ion-color-primary);
      }
      ion-label {
        color: #727272 !important;
        font-size: 14px !important;
        padding-left: 0px;
        font-family: medium;
      }
    }
  }
  .sc-ion-input-md-h {
    --padding-top: 7px !important;
  }
  ion-input {
    --placeholder-color: #9b9b9b;
    --placeholder-opacity: 1;
    margin-left: 7px;
    font-family: medium;
  }
  .enter-input {
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid #cdcfcf;
    border-radius: 25px;
    padding: 30px 50px;
    width: 85%;
    height: 45px;
    margin-top: 15px;
    color: #727272 !important;
    font-size: 14px !important;
    padding-left: 20px !important;
  }
  ion-select {
    ion-select-option {
      font-size: 15px;
      width: 100% !important;
    }
  }
  
  .verify-number {
    margin-left: 30px;
    margin-bottom: 0;
    font-size: 20px;
    color: "dark2";
    font-family: medium;
  }
  .code-text {
    color: #838383;
    font-size: 13px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .mt-a {
    margin-top: 100px !important;
  }
  .code {
    border: 1px solid #cdcfcf;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    display: inline-block;
    margin-right: 5px;
    margin-top: 25px;
    text-align: center;
  }
  ion-input {
    --placeholder-color: #707070;
    --placeholder-opacity: 1;
    font-family: medium;
    margin-left: 7px;
  }
  
  a {
    color: #ed1b25;
    font-size: 17px;
    font-family: medium;
    font-weight: 400;
  }
  