<ion-content fullscreen>
  
  <!-- <ion-row>
    <ion-col>
      <div class="ion-text-center">
      <h2 class="name-txt">Sign Up</h2>
    </div>
    </ion-col>
  </ion-row> -->
  
  <div class="content" *ngIf="!isOTP">
    <h2 class="name-txt ion-text-center">Sign Up</h2>
    <form [formGroup]="contactForm">
      <ion-list class="line-input">
        <ion-item>
          <ion-label>Country Code</ion-label>
          <ion-select formControlName="country_code">
            <ion-select-option *ngFor="let i of countryList" [value]="i.dial_code"
              (ionSelect)="selectCountryCode($event)">{{i.dial_code}} {{i.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-input placeholder="Enter Number" class="enter-input" formControlName="mobile" type="tel"></ion-input>
    </form>
    <ion-button size="large" color="maincolor" fill="solid" size="default" shape="round" expand="block" class="m-top"
      [disabled]="!contactForm.valid" (click)="getOtp()" class="same-bt">
      Verify Contact
    </ion-button>
    <ion-text class="already-have">
      <h5>Already have an account?</h5>
    </ion-text>
    <div class="login-text">
      <a routerLink="/login">Login</a>
    </div>
  </div>
  <div class="content-container" *ngIf="isOTP">
    <h3 class="verify-number">Verify your number</h3>
    <h6 class="code-text">Enter the 4 digit code we just sent you</h6>
    <div class="custom-container">
      <form [formGroup]="otpForm">
        <ion-input #otp1 type="tel" class="enter-input" maxlength="1" formControlName="firstDigit" class="code"
          (keyup)="otpController($event,otp2,'')"></ion-input>
        <ion-input #otp2   type="tel" class="enter-input" maxlength="1" formControlName="secondDigit" class="code"
          (keyup)="otpController($event,otp3,otp1)"></ion-input>
        <ion-input #otp3   type="tel" class="enter-input" maxlength="1" formControlName="thirdDigit" class="code"
          (keyup)="otpController($event,otp4,otp2)"></ion-input>
        <ion-input #otp4  type="tel" class="enter-input" maxlength="1" formControlName="forthDigit" class="code"
          (keyup)="otpController($event,'',otp3)"></ion-input>
      </form>
    </div>
    <ion-button size="large" color="maincolor" fill="solid" size="default" shape="round" expand="block" class="m-top"
      [disabled]="!otpForm.valid" (click)="otpVerify()" class="same-bt mt-a">
      Verify
      OTP</ion-button>
    <ion-text class="already-have">
      <h5>Already have an account?</h5>
    </ion-text>
    <div class="login-text">
      <a (click)="loginPage()">Login</a>
    </div>
  </div>
</ion-content>