.logo{
    margin: auto;
    width: 25%;
    margin-top: 10%;
  }
  
  b {
    font-weight: 500;
  }
  .forgot-pass {
    text-decoration: none;
      margin-right: 6px;
      font-size: 13px;
      font-family: 'medium';
    color: var(--ion-color-step-600, #60646b);
    a{
      text-decoration: none;
    }
  }
  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #60646b);
  }
  
  ion-label {
    color: #656565 !important;
    font-size: 17px !important;
  }
  form {
    margin-top: 15%;
  }
  
  .cancel {
    margin-right: 5px;
    font-size: x-large;
  }
  
  .line-input {
    margin-bottom: 0 !important;
    ion-item {
      --border-color: transparent !important;
      --background-activated: white;
      --background-focused: white;
      --background-hover: white;
      --highlight-height: 0;
      border: 1px solid #cdcfcf;
      border-radius: 50px;
      color: #707070;
      height: 45px;
      &.item-has-focus {
        border: 1px solid #CDCFCF;
      }
  
      ion-label {
        color: #807e7e !important;
        font-weight: 300;
        font-size: 14px !important;
      }
  
      ion-icon {
        color: #807e7e !important;
        margin-right: 8px !important;
      }
    }
  }
  ion-input{
    --placeholder-color: #9B9B9B;
    --placeholder-opacity: 1;
    font-family: medium;
    margin-left: 7px;
  }
  .sc-ion-input-md-h{
    --padding-top: 7px !important;
  }
  .sc-ion-input-ios-h {
    font-size: 14px !important;
  }
  
  a{
   color: #ED1B25;
  
  }
  .signup-text{
    font-size: 17px;
    font-family: medium;
  }
  ion-button{
    text-transform: capitalize;
    height: 44px;
    font-size: 16px;
    margin: 0 !important;
    margin-top: 40px !important;
    font-family: helveticaneuebold;
  }
  .have{
    font-family: medium;
    color: #8E8E8E;
    font-size: 17px;
    line-height: 20px;
    margin-top: 25px;
    line-height: 20px;
  }
  #email{
    caret-color: red;
  }
  #pass{
    caret-color: red;
  }