ion-slides {
  height: 100%;
  --bullet-background-active: #ed1b25;
  --bullet-background: #f03a42;
}

.swiper-slide {
  display: block;
}

.swiper-slide h2 {
  margin-top: 2.8rem;
}

.swiper-slide img {
  max-height: 50%;
  max-width: 80%;
  margin: 60px 0 40px;
  pointer-events: none;
}

b {
  font-weight: 500;
}

p {
  padding: 0 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #9d9d9d;
}

p b {
  color: var(--ion-text-color, #000000);
}

.bg_one {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.bg_two {
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.bg_three {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.caseone {
  position: absolute;
  bottom: 80px;
  background-color: #fff;
  width: 80%;
  right: 0;
  border-top-left-radius: 60px;
  padding-bottom: 60px;
  z-index: 2;
  h2 {
    color: #ed1b25;
  }
  a {
    color: #9d9d9d;
    text-decoration: none;
  }
}

.casetwo {
  position: absolute;
  bottom: 80px;
  background-color: #fff;
  width: 100%;
  right: 0;
  padding-bottom: 60px;

  h2 {
    color: #ed1b25;
  }
  a {
    color: #9d9d9d;
    text-decoration: none;
  }
}

.casethree {
  position: absolute;
  bottom: 80px;
  background-color: #fff;
  width: 80%;
  left: 0;
  border-bottom-right-radius: 60px;
  padding-bottom: 60px;
  z-index: 2;
  h2 {
    color: #ed1b25;
  }
  a {
    color: #9d9d9d;
    text-decoration: none;
  }
}

.swiper-pagination {
  bottom: 17% !important;
}
.wel-bg{
  position: absolute;
  bottom: 50px;
  background-color: #F1363D;
    width: 50%;
    left: 57px;
    z-index: 1;
    border-top-left-radius: 20px;
    padding-bottom: 90px;
    border-bottom-right-radius: 20px;
}
.rent-bg{
  position: absolute;
    bottom: 305px;
    background-color:  #F1363D;
    width: 50%;
    right: 60px;
    z-index: 1;
    border-top-left-radius: 20px;
    padding-bottom: 90px;
    border-bottom-right-radius: 20px;
}

