<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end" class="cancel" (click)="continue()">
      <span>
        <ion-icon color="unit-btn" name="close"></ion-icon>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 
<ion-content>
  <ion-grid class="success_img" class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" style="text-align: center;">
        <img src="../../../../assets/imgs/sucess.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="text-align:center;" class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <h4 class="success_text">Successful</h4>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding" style="text-align:center;">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding">
        <h3>Your booking is confirmed!</h3>
        <p class="success_p">You will receive a confirmation email along with other details shortly!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" style="text-align: center;">
        <h5>{{placeInfo.startDate | date:'mediumDate' }} - {{placeInfo.endDate | date:'mediumDate' }}</h5>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col *ngIf="!placeInfo.place.images.length; else noProductImage" style="text-align: center;">
        <img  style="border-radius: 25px !important;" src="../../../../assets/imgs/dummy_space.png">
      </ion-col>
     <ng-template #noProductImage>
      <ion-col style="text-align: center;" >
        <img style="border-radius: 25px !important;" src="{{placeInfo.place.images[0]}}">
      </ion-col>
     </ng-template>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" style="text-align: center;">
        <h5 style="margin-bottom: 0px;">{{placeInfo.place.name}}</h5>
        <h6 style="margin-bottom: 0px;">{{placeInfo.place.address}}</h6>
        <p (click)="booking()"><a>Check My Bookings</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

