
.success_img {
    text-align: center;
    margin-top: 30px;
  }
  .success_text {
    font-size: 26px;
    color: #EE202C;
    font-family: 'helveticaneuebold';
    text-align: center;
  }
  .success_p {
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    max-width: 262px;
    font-weight: 400;
    color: #C3C4C3;
    font-family: 'medium';
    margin-bottom: 50px;
  }
  .cancel {
    margin-right: 5px;
    font-size: x-large;
  }
  p{
    a{
      text-decoration: none;
      color: #ED1B25;
      font-family: medium;
      font-size: 14px;
    }
  }
  h3{
    font-family: 'helveticaneuebold';
      font-size: 19px;
  }
  h5{
    font-family: 'helveticaneuebold';
    font-size: 16px;
    font-weight: 400;
    color: #414141;
  }
  h6{
    text-decoration: none;
    color: #C2C2C2;
    font-family: 'helveticaneuebold';
    font-size: 15px;
  }