.circle-pic {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
  }
  
  .icon-style{
      color: lightslategray;
      width: 25px;
      height: 25px;
  }
  
  ion-item{
    ion-label{
      h2{
        font-size: medium;
        font-weight: bold;
        color: grey;
      }    
    }
  }
  ion-list{
    h4{
      font-size: 12px !important;
      text-transform: uppercase;
    }
    ion-label{
      color: #656565 !important;
      font-size: 13.6px !important;
    }
  }