<ion-header>
  <ion-toolbar>
    <ion-title>Cards</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="unit-btn" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="newCard()">
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="paymentForm" #f="ngForm">
    <ion-list>
      <ion-list-header>
        Enter Card Details
      </ion-list-header>
      <ion-card>
      <ion-item>
          <ion-label position="stacked">Card Number </ion-label>
          <ion-input type="text" formControlName="cardNumber" maxlength="16" (keypress)="onKey($event)"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Date</ion-label>
            <ion-datetime displayFormat="MM/YYYY" pickerFormat="MM/YYYY" formControlName="cardExpiration" max="2050">
            </ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">CVV</ion-label>
            <ion-input type="text" formControlName="cardCvv" maxlength="3" (keypress)="onKey($event)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      </ion-card>
    </ion-list>
    <div class="ion-padding">
      <ion-button  expand="block"  color="unit-btn" [disabled]="paymentForm.invalid"
        (click)="confirmPayment(f.value)"> Add Card</ion-button>
    </div>
  </form>
  <div *ngIf="cards.length != 0">
    <ion-list *ngFor="let card of cards;let i=index">
      <ion-item  detail=false>
        <ion-label>
          Card Number
          <ion-input style="font-size: smaller" disabled = "true">{{ card.payment.creditCard.cardNumber}}</ion-input>
        </ion-label>
        <ion-icon slot="end"  color="danger" name="trash-outline" (click)="delete(card,i)"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>